{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <h1>Add new department</h1>
  <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
          <div class="form-group">
              {{ form.dept_name.label(class="from-control-label") }}
              <div class="invalid-feedback">
                    {% for error in form.dept_name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {{ form.dept_name(class="from-control from-control-lg") }}

          </div>
      </fieldset>
      <div calss="form-group">
          {{form.submit(class="btn btn-outline-info")}}
      </div>
  </form>
</div>
{% endblock content %}