{% extends "layout.html" %}
{% block content %}
<div class="container">
    <form action="" method = post>
        <fieldset>
            <legend>Add new course</legend>
            {{ form.hidden_tag() }}
            <div class="content-section ">
                <br>
                <p align="center">Course Name &nbsp;
                {{form.name(size=104)}}</p>
                <br>
                <br>
                <p align="center">Credit Points &nbsp;
                {{ form.pts(size=104) }}</p>
                <br>
                <br>
                <p align="center">Units &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                {{form.units(size=104)}}</p>
                <br>
                <div class="container text-center"><p>{{ form.submit() }}</p></div>
            </div>
        </fieldset>
    </form>
</div>

{% endblock content %}