{% extends "layout.html" %}
{% block content %}
<div class="container">
    <form action="" method = "post">
        <fieldset>
            <legend>Add new student</legend>
            {{ form.hidden_tag() }}
            <div class="content-section ">
                <br>
                <p align="center">CNP &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{form.cnp(size=100)}}</p>
                <br>
                <br>
                <p align="center">First name &nbsp;
                {{ form.f_name(size=100) }}</p>
                <br>
                <br>
                <p align="center">Last name &nbsp;

                {{form.l_name(size=100)}}</p>
                <br>
                <br>
                <p align="center">Birthdate &nbsp;&nbsp;&nbsp;
                {{ form.bdate(size=100) }}</p>
                <br>
                <br>
                <p align="center">Phone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{ form.phone(size=100) }}</p>
                <br>
                <br>
                <p align="center">Address &nbsp;&nbsp;&nbsp;&nbsp;

                    {{form.address(size=100)}}</p>
                <br>
                <br>
                <p align="center">Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{ form.email(size=100) }}</p>
                <br>
                <br>
                 <p align="center">Password &nbsp;
                {{ form.passwd(size=100) }}</p>
                <br>
                <br>
                <p align="center"> Gender </p>
                <div class="container text-center">
                   {{ form.gender(size=32) }}
                </div>
                <p align="center">Enrolment Date
                    {{ form.enrolment(size=98) }}
                </p>
                <br>
                <br>
                <p align="center">Year &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{ form.year(size=100) }} </p>
                <br>
                <br>
                <p align="center">Department
                {{ form.dept(size=100) }} </p>
                <br>
                <div class="container text-center"><p>{{ form.submit() }}</p></div>
            </div>
        </fieldset>
    </form>
</div>

{% endblock content %}